@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 18px;
  }
  .wpcf7 {
    padding: rem(40px 80px 30px 45px);
  }
}
@include media-breakpoint-up(xl) {
  .wrapper {
    justify-content: space-between;
    .sidebar {
      width: rem(280px);
    }
    .main-content {
      width: rem(875px);
    }
  }
}
@include media-breakpoint-down(md) {
}
