@media (min-width: 481px) {
  .banner-speak {
    .row {
      flex-direction: row-reverse;
    }
    .col-text {
      width: calc(100% - 13.5rem);
    }
    .col-img {
      width: 13.5rem;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .hide-sm-up {
    display: none;
  }
  .main-banner {
    background: url(../img/main-banner-lg.jpg) top center / cover no-repeat;
  }
  .two-cols {
    columns: 2;
    column-gap: 1rem;
  }
  .single-post {
    .entry-content p img {
      float: left;
      margin: 0 1rem 1rem 0;
    }
  }
  .btn-orange {
    &.btn-lg {
      min-width: rem(400px);
    }
  }
}
@include media-breakpoint-up(md) {
  .wrapper {
    .sidebar {
      width: 30%;
    }
    .main-content {
      width: 70%;
    }
  }
  .main-banner {
    .text {
      padding-top: 8rem;
      max-width: 38rem;
    }
    .bottom {
      margin-top: 6rem;
      .social {
        padding-top: 2rem;
      }
    }
    .banner-about {
      margin-top: 8rem;
    }
  }
  .practioner {
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(5px);
    .info {
      padding-right: 5rem;
    }
  }
  #lp-banner {
    min-height: rem(832px);
    display: flex;
    align-items: center;
    h1 {
      font-size: rem(50px);
    }
    .styled {
      display: flex;
      flex-wrap: wrap;
      li {
        &:nth-child(odd) {
          flex: 0 0 47%;
        }
        &:nth-child(even) {
          flex: 0 0 53%;
        }
      }
    }
  }
  #lp-features {
    .col-12 + .col-12 {
      border-left: 1px solid #cae2eb;
    }
  }
  #lp-contact-us {
    .wpcf7 {
      padding: rem(40px 50px);
    }
  }
}
@include media-breakpoint-up(lg) {
  .hide-lg-up {
    display: none !important;
  }
  html {
    font-size: 16px;
  }
  .wpcf7 {
    padding: rem(40px 80px 30px 45px);
  }
  .wrapper {
    .sidebar {
      width: 24%;
    }
    .main-content {
      width: 76%;
    }
  }
  .banner-speak {
    .btn-wrp,
    .text-wrp {
      padding-left: rem(50px);
      padding-right: rem(50px);
    }
  }
  .banner-small {
    padding-left: rem(45px);
  }
  .main-banner {
    h1 {
      font-size: rem(44px);
    }
  }
  .home-speak {
    background: url(../img/home-speak-bg-lg.jpg) 50%  / cover no-repeat;
  }
  #lp-banner {
    .col-12 {
      width: 605px;
    }
  }
  #lp-recommended {
    .col-lg-3 + .col-lg-3 {
      border-left: 1px solid #afc9d2;
    }
  }
}
@include media-breakpoint-up(xl) {
  html {
    font-size: 18px;
  }
  h1, .h1, h2, .h2 {
    font-size: 30px;
  }
  h3, .h3 {
    font-size: 26px;
  }
  .fsz-24 {
    font-size: rem(24px);
  }
  .wrapper {
    justify-content: space-between;
    .sidebar {
      width: rem(280px);
    }
    .main-content {
      width: rem(875px);
    }
  }
  .card-body {
    padding: rem(18px 34px 30px);
  }
  .testimonial-full {
    .avatar {
      width: 21%;
    }
    .content {
      width: 79%;
    }
  }
  .testimonial-small {
    .icon-wrp {
      width: 14%;
    }
    .content {
      width: 86%;
    }
  }
  .accordion-button {
    padding: 1.4rem 0;
    &:after {
      padding-left: 4rem;
      background-position: right center;
    }
  }
  .main-banner {
    min-height: 61.35417vw;
    .text {
      padding-top: 10vw;
      max-width: 31.66667rem;
    }
    .social {
      a {
        font-size: rem(70px);
      }
    }
    .bottom {
      margin-top: 11rem;
    }
    .banner-about {
      margin-top: 11rem;
      margin-bottom: -3rem;
    }
  }
  .page-template-landing-page {
    .container {
      max-width: 1140px;
    }
  }
}
@media (min-width: 1920px) {
  .main-banner {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 1178px;
  }
}
@include media-breakpoint-down(xl) {
  .lp-header {
    .lp-logo {
      display: inline-block;
      width: 25rem;
    }
  }
}
@include media-breakpoint-down(lg) {
  .lp-header {
    .trustpilot {
      display: none;
    }
  }
}
@include media-breakpoint-down(md) {
  .hide-md-down {
    display: none;
  }
  .main-banner {
    .bottom {
      .col-md-7 {
        background-color: #fff;
      }
    }
  }
  .sidebar .nav {
    display: none;
  }
  .lp-header {
    .row {
      justify-content: center;
    }
    .lp-logo {
      width: 100%;
      max-width: 487px;
    }
  }
  #lp-banner {
    padding-top: 15rem !important;
    background-position: center top;
    background-image: url(../img/lp-banner-sm.jpg) !important;
    background-size: cover;
  }
  .lp-testimonial {
    text-align: center;
    .col-md-4 {
      margin-bottom: 1rem;
    }
  }
  #lp-professor {
    text-align: center;
    padding-bottom: 1rem;
    .img-box {
      margin-top: -40px;
      margin-bottom: 1rem;
    }
  }
}
@include media-breakpoint-only(sm) {
  .main-banner {
    background-position: 75% 50%;
    .text {
      padding-top: 5rem;
    }
  }
}
@include media-breakpoint-down(sm) {
  .hide-sm-down {
    display: none;
  }
  .main-banner {
    background: url(../img/main-banner-sm.jpg) top center / 100% no-repeat;
    text-align: center;
    h1 {
      font-size: vw-sm(27px);
      padding: 0 3vw;
    }
    .text {
      padding-top: 16vw;
      min-height: 161vw;
      .mb-3 {
        font-size: vw-sm(19px);
        margin-bottom: 1rem !important;
      }
    }
    .bottom {
      margin-top: 0;
    }
    .social {
      text-align: left;
      padding-bottom: 8vw;
      a {
        font-size: 12vw;
      }
    }
    .banner-about {
      text-align: left;
    }
  }
  .img-link {
    display: block;
    margin-bottom: 1rem;
  }
  .sidebar {
    width: 100%;
  }
  .home-video {
    padding-top: 1rem !important;
    img {
      max-width: 30vw;
    }
    .learn-more {
      text-align: center;
    }
    .row.ms-lg-2 {
      --bs-gutter-x: 0;
    }
  }
  .home-speak {
    text-align: center;
    .wpcf7 {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
