@media (min-width: 481px) {
  .banner-speak {
    .row {
      flex-direction: row-reverse;
    }
    .col-text {
      width: calc(100% - 13.5rem);
    }
    .col-img {
      width: 13.5rem;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
@include media-breakpoint-up(sm) {
  .two-cols {
    columns: 2;
    column-gap: 1rem;
  }
}
@include media-breakpoint-up(md) {
  .wrapper {
    .sidebar {
      width: 30%;
    }
    .main-content {
      width: 70%;
    }
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
  .wpcf7 {
    padding: rem(40px 80px 30px 45px);
  }
  .wrapper {
    .sidebar {
      width: 24%;
    }
    .main-content {
      width: 76%;
    }
  }
  .banner-speak {
    .btn-wrp,
    .text-wrp {
      padding-left: rem(50px);
      padding-right: rem(50px);
    }
  }
  .banner-small {
    padding-left: rem(45px);
  }
  .main-banner {
    h1 {
      font-size: rem(44px);
    }
  }
}
@include media-breakpoint-up(xl) {
  html {
    font-size: 18px;
  }
  h1, .h1, h2, .h2 {
    font-size: 30px;
  }
  h3, .h3 {
    font-size: 26px;
  }
  .fsz-24 {
    font-size: rem(24px);
  }
  .wrapper {
    justify-content: space-between;
    .sidebar {
      width: rem(280px);
    }
    .main-content {
      width: rem(875px);
    }
  }
  .card-body {
    padding: rem(18px 34px 30px);
  }
  .testimonial-full {
    .avatar {
      width: 21%;
    }
    .content {
      width: 79%;
    }
  }
  .testimonial-small {
    .icon-wrp {
      width: 14%;
    }
    .content {
      width: 86%;
    }
  }
  .accordion-button {
    padding: 1.4rem 0;
    &:after {
      padding-left: 4rem;
      background-position: right center;
    }
  }
  .main-banner {
    min-height: 61.35417vw;
    .main-banner .text {
      padding-top: 10vw;
      max-width: 31.66667rem;
    }
    .social {
      a {
        font-size: rem(80px);
      }
    }
    .bottom {
      margin-top: 13rem;
    }
    .banner-about {
      margin-top: 11rem;
      margin-bottom: -3rem;
    }
  }
}
@include media-breakpoint-down(md) {
}
