* {
  outline: none !important;
}
a {
  transition: all .3s ease;
}
html {
  font-size: 15px;
  scroll-behavior: smooth;
}
body {
  min-width: 320px;
  position: relative;
  image-rendering: -moz-crisp-edges;
}
b, strong {
  font-family: $headings-font-family;
}
svg.icon {
  width: 1em;
  height: 1em;
}
.invalid {
  .form-control:invalid {
    border-color: $primary;
  }
}
.btn {
  text-transform: uppercase;
}
.main-content .btn {
  min-width: rem(300px);
}
.btn-outline-info {
  border-color: $blue-300;
  color: #000000;
  &:hover {
    border-color: $blue-300;
    background-color: $blue-300;
    color: #fff;
  }
}
.entry-content {
  h1, h2, h3 {
    color: $blue-500;
  }
  h2, h3 {
    font-weight: 500;
  }
}
.wpcf7 {
  padding: 30px 15px;
  background-color: $gray-300;
  margin-bottom: rem(14px);
  h2, h3 {
    color: $blue-600;
  }
  .row {
    --bs-gutter-x: 0.77778rem;
  }
}
.fsz-13 {
  font-size: 13px;
}
.fsz-24 {
  font-size: rem(20px);
}
.sidebar {
  .nav {
    border-top: 3px solid #0087bf;
    padding-top: rem(5px);
    font-size: rem(16px);
    a {
      display: block;
    }
    > li {
      &.current_page_parent > a,
      &.current_page_item > a {
        font-weight: 700;
      }
      > a {
        color: #0a6b90;
        text-transform: uppercase;
        padding: 7.5px 0;
      }
    }
    .sub-menu {
      margin-top: 4px;
      background-color: $gray-100;
      list-style: none;
      padding: rem(6px 20px);
      border-radius: rem(7px);
      margin-bottom: rem(12px);
      li + li {
        border-top: 1px solid #dddddd;
      }
      a {
        color: #898989;
        padding: rem(7px 15px);
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330 330'%3E%3Cpath fill='%23898989' d='M79.4,4.4c-5.9,5.9-5.9,15.4,0,21.2L218.8,165L79.4,304.4c-5.9,5.9-5.9,15.4,0,21.2c5.9,5.9,15.4,5.9,21.2,0 l150-150c2.8-2.8,4.4-6.6,4.4-10.6s-1.6-7.8-4.4-10.6l-150-150C94.7-1.5,85.3-1.5,79.4,4.4z'/%3E%3C/svg%3E%0A") left center / .5rem no-repeat;
      }
      .current-menu-item a,
      a:hover {
        color: #009cdf;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330 330'%3E%3Cpath fill='%23009cdf' d='M79.4,4.4c-5.9,5.9-5.9,15.4,0,21.2L218.8,165L79.4,304.4c-5.9,5.9-5.9,15.4,0,21.2c5.9,5.9,15.4,5.9,21.2,0 l150-150c2.8-2.8,4.4-6.6,4.4-10.6s-1.6-7.8-4.4-10.6l-150-150C94.7-1.5,85.3-1.5,79.4,4.4z'/%3E%3C/svg%3E%0A");
      }
    }
  }
  .awards {
    border: 1px solid #e8e8e8;
    text-align: center;
    padding: rem(17px 5px);
    margin-bottom: 7px;
  }
  .card {
    margin-bottom: 7px;
    max-width: 480px;
    .btn {
      width: 100%;
    }
  }
  .card-title {
    color: $blue-600;
  }
}
.fw-heading {
  &.line {
    background: linear-gradient(#ffffff 0%, #ffffff 48%, $blue-500 49%, $blue-500 52%, #ffffff 53%, #ffffff 100%);
    margin-bottom: 1rem;
    .fw-special-title {
      display: inline-block;
      margin-bottom: 0;
      background-color: #fff;
      padding-right: rem(20px);
    }
  }
}
.text-block {
  ul {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 1rem;
      position: relative;
      padding-left: rem(16px);
      &:before {
        content: "";
        position: absolute;
        left: 2px;
        top: 7px;
        display: inline-block;
        background-color: #009cdf;
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
      }
    }
  }
}
.img-box {
  &.full {
    img {
      display: block;
      width: 100%;
    }
  }
}
.table {
  td, th {
    vertical-align: middle;
  }
  font-size: 14px;
  td:first-child {
    font-size: rem(16px);
    color: $blue-600;
  }
  .heading {
    td, th {
      border-bottom: 1px dashed #aeaeae;
    }
  }
  tbody {
    th {
      font-size: rem(16px);
      color: $blue-600;
    }
  }
  .check {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url($check-positive) 50% / contain no-repeat;
  }
}
.banner-speak {
  margin-bottom: 1rem;
  .text-wrp {
    background-color: $gray-300;
    padding: 1rem;
    h4 {
      font-size: rem(22px);
      color: $blue-600;
      margin-bottom: 0.3rem;
    }
    p {
      font-size: 15px;
      margin-bottom: 0;
    }
  }
  .btn-wrp {
    background-color: #dddddd;
    padding: rem(8px 18px 12px 18px);
  }
  .btn {
    min-width: rem(240px);
    background-color: #ececec;
    &:hover {
      background-color: $blue-300;
    }
  }
}
.banner-small {
  padding: 1.8rem 1rem 1.5rem;
  margin-bottom: 1rem;
  h4 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1.3rem;
  }
  .btn {
    min-width: rem(200px);
    border-color: #fff;
  }
  &.test {
    background: #58646e url(../img/banner-small-test.jpg) right center / cover no-repeat;
  }
  &.find {
    background: #127aa1 url(../img/banner-small-find.jpg) right center / cover no-repeat;
  }
}
.styled {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
  li {
    margin-bottom: .5rem;
    padding-left: rem(27px);
    background: url($check-positive) 0 6px / 12px no-repeat;
  }
  &.negative {
    li {
      background-image: url($check-negative);
    }
  }
  &.wrap {
    background-color: $gray-100;
    padding: rem(14px);
    border-radius: rem(7px);
    a {
      border-bottom: 1px solid $link-color;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}
.recommended-by {
  margin-bottom: 2rem;
  .styled {
    max-width: 37rem;
  }
  .row {
    align-items: center;
  }
  h6 {
    color: $gray-500;
  }
}
.info-heading {
  background: linear-gradient(#ffffff 0%, #ffffff 49%, $gray-500 50%, $gray-500 51%, #ffffff 52%, #ffffff 100%);
  margin-bottom: 1rem;
  .title {
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0;
    padding-right: rem(15px);
    font-weight: 400;
    font-size: 16px;
    color: $gray-500;
    .icon {
      font-size: rem(30px);
      margin-right: 1rem;
    }
  }
}
.testimonials {
  margin-bottom: 1rem;
  .icon {
    font-size: rem(32px);
  }
  .author-name {
    font-weight: 400;
    font-size: 16px;
    color: $gray-500;
  }
}
.testimonial-full {
  padding: 1rem 0 .5rem;
  + .testimonial-small {
    border-top: 2px solid $blue-500;
    margin-top: 1.5rem;
  }
  .content {
    align-self: center;
  }
  .avatar {
    img {
      border-radius: 50%;
    }
  }
}
.testimonial-small {
  border-bottom: 1px dashed #aeaeae;
  padding: 1.5rem 0 .5rem;
  .icon-wrp {
    text-align: center;
    .icon {
      margin-top: 2.3rem;
    }
  }
}
.accordion-item {
  border-bottom: 1px dashed #aeaeae;
  .accordion-header {
    padding-left: rem(45px);
    position: relative;
    &:before {
      content: '';
      display: block;
      width: rem(24px);
      height: rem(24px);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' fill='%230087BF'%3E%3Cpath d='M6,0C2.7,0,0,2.7,0,6s2.7,6,6,6s6-2.7,6-6S9.3,0,6,0z M6,11c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5 S8.8,11,6,11z'/%3E%3Cpath d='M6.4,2.6c-1-0.2-2,0.4-2.3,1.3C4,4.1,4.2,4.4,4.4,4.5S5,4.4,5.1,4.2c0.1-0.4,0.7-0.8,1.1-0.6 C6.6,3.6,7,4.2,6.9,4.6c-0.1,0.5-0.6,0.8-1,0.8c-0.1,0-0.3,0-0.4,0.1C5.4,5.6,5.3,5.7,5.3,5.9l0,1.6c0,0.3,0.2,0.5,0.5,0.5l0,0 c0.3,0,0.5-0.2,0.5-0.5l0-1.1c0.8-0.1,1.4-0.8,1.6-1.6C8.1,3.8,7.4,2.8,6.4,2.6z'/%3E%3Cpath d='M5.8,8.4L5.8,8.4c-0.3,0-0.5,0.2-0.5,0.5c0,0,0,0.1,0,0.1c0,0.3,0.2,0.4,0.5,0.5h0c0.3,0,0.5-0.3,0.5-0.5 c0,0,0-0.1,0-0.1C6.3,8.6,6.1,8.4,5.8,8.4z'/%3E%3C/svg%3E%0A");
    }
  }
  .accordion-button:not(.collapsed) {
    font-weight: 700;
  }
  .accordion-body {
    padding-left: rem(45px);
  }
}