* {
  outline: none !important;
}
a {
  transition: all .3s ease;
}
html {
  font-size: 15px;
  scroll-behavior: smooth;
}
body {
  min-width: 320px;
  position: relative;
  image-rendering: -moz-crisp-edges;
}
b, strong {
  font-family: $headings-font-family;
}
svg.icon {
  width: 1em;
  height: 1em;
}
.invalid {
  .form-control:invalid {
    border-color: $primary;
  }
}
.entry-content {
  h1, h2, h3 {
    color: $blue-500;
  }
}
.swatch-blue {
  color: #fff;
  background-color: $blue-600
}
.bd-blue-100 {
  color: #000;
  background-color: $blue-100;
}
.bd-blue-200 {
  color: #000;
  background-color: $blue-200;
}
.bd-blue-300 {
  color: #000;
  background-color: $blue-300;
}
.bd-blue-400 {
  color: #000;
  background-color: $blue-400;
}
.bd-blue-500 {
  color: #fff;
  background-color: $blue-500;
}
.bd-blue-600 {
  color: #fff;
  background-color: $blue-600;
}
.bd-blue-700 {
  color: #fff;
  background-color: $blue-700;
}
.bd-blue-800 {
  color: #fff;
  background-color: $blue-800;
}
.bd-blue-900 {
  color: #fff;
  background-color: $blue-900;
}